*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-gray-magenta: hsl(303, 10%, 53%);
    --light-gray-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 15px;
}

body {
    font-family: "Spartan", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    position: relative;
}

.top-svg {
    position: absolute;
    top: 0;
    left: 0;
}

.bottom-svg {
    position: absolute;
    right: 0;
    bottom: 0;
}

.container {
    width: 80%;
    padding: 1rem;
    
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 2rem 0;
}

.left-col h1,
.ratings p {
    color: var(--dark-magenta);
}

.left-col h1 {
    margin-top: 0;
}

.left-col p {
    color: var(--dark-gray-magenta);
    margin: .5em 0 0 0;
}

.right-col {
    background-color: var(--white);
    width: 100%;
}

.ratings {
    background-color: var(--light-gray-magenta);
    padding: 1em;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.ratings span {
    display: inline-block;
}

.ratings p {
    margin-bottom: 0;
    font-size: .8rem;
    font-weight: 700;
}

.testimonial {
    background-color: var(--dark-magenta);
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.testimonial-info {
    display: flex;
}

.testimonial-info div {

    width: 60%;
    margin-left: 1rem;
}

.testimonial-info img {
    grid-area: img;
    border-radius: 50%;
    width: 2.6em;
    height: 2.6em;
}

.testimonial-name,
.testimonial-content {
    color: var(--light-gray-magenta);
}

.testimonial-name {
    grid-area: name;
    margin: 0;
    width: 80%;
}

.testimonial-verified {
    color: var(--soft-pink);
    grid-area: verified;
    margin-top: .3em;
    width: 80%;
}

@media only screen and (min-width: 600px) {
    .right-col {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    body {
        background-image: url("images/bg-pattern-top-desktop.svg");
    }
}


@media only screen and (min-width: 800px) {

    .container {
        width: 100%;
    }

    .hero {
        flex-direction: row;
        justify-content: space-between;
        text-align: unset;
 
        align-items: stretch;
    }

    .left-col {
        max-width: 27em;
        margin: 0;
    }

    .left-col h1 {
        font-size: 2.5rem;
    }


    .right-col {
        display: grid;
        grid-template-columns: repeat(12, auto);
        grid-template-rows: repeat(4, auto);
     
        width: 50%;
    }

    .rating-1 {
        grid-column: 1 / 10;
        grid-row: 1 / 2;
    }

    .rating-2 {
        grid-column: 2 / 11;
        grid-row: 2 / 3;
    }

    .rating-3 {
        grid-column: 3 / 12;
        grid-row: 3 / 4;
    }

    .ratings {
        flex-direction: row;
        justify-content: space-between;
        max-width: 25em;
        margin: .5rem 0;
    }

    .ratings span {
        align-content: center;
    }

    .ratings p {
        margin-top: 0;
        align-self: center;
        font-size: .7rem;
    }

    main {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(12, 1fr);
        grid-gap: 1.5em;
        font-size: .9rem;
        place-items: center;

    }

    .testimonial-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 10;
    }

    .testimonial-2 {
        grid-column: 2 / 3;
        grid-row:  2 / 11;
    }

    .testimonial-3 {
        grid-column: 3 / 4;
        grid-row:  3 / 12;
    }
}


.attribution {
        font-size: 11px;
        text-align: center;
}
.attribution a {
        color: hsl(228, 45%, 44%);
}